<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,114},{121,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,168}}</string>
                <key>sourceSize</key>
                <string>{125,170}</string>
            </dict>
            <key>belongTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{335,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,154}}</string>
                <key>sourceSize</key>
                <string>{335,154}</string>
            </dict>
            <key>betbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,238},{305,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,135}}</string>
                <key>sourceSize</key>
                <string>{305,135}</string>
            </dict>
            <key>betstart.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,403},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>big_pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,194},{83,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,287}}</string>
                <key>sourceSize</key>
                <string>{83,287}</string>
            </dict>
            <key>caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,483},{121,150}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{121,150}}</string>
                <key>sourceSize</key>
                <string>{125,170}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,375},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>dateChatBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,95},{306,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,92}}</string>
                <key>sourceSize</key>
                <string>{306,92}</string>
            </dict>
            <key>datebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,101},{305,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,135}}</string>
                <key>sourceSize</key>
                <string>{305,135}</string>
            </dict>
            <key>datenav.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,91}}</string>
                <key>sourceSize</key>
                <string>{449,91}</string>
            </dict>
            <key>dushen.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,394},{125,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{125,154}}</string>
                <key>sourceSize</key>
                <string>{125,170}</string>
            </dict>
            <key>fenshou_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,453},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>fensou.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,453},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>gushen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{125,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{125,146}}</string>
                <key>sourceSize</key>
                <string>{125,170}</string>
            </dict>
            <key>jokerSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,375},{153,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,229}}</string>
                <key>sourceSize</key>
                <string>{153,229}</string>
            </dict>
            <key>lhj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,568},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>lhj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,482},{149,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,43}}</string>
                <key>sourceSize</key>
                <string>{149,43}</string>
            </dict>
            <key>lhj_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,101},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>marryCondBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{391,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,97}}</string>
                <key>sourceSize</key>
                <string>{391,97}</string>
            </dict>
            <key>marry_cond.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,500},{135,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>nextyear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{218,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,113}}</string>
                <key>sourceSize</key>
                <string>{218,113}</string>
            </dict>
            <key>pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{35,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,352}}</string>
                <key>sourceSize</key>
                <string>{35,352}</string>
            </dict>
            <key>photobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,237},{157,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,155}}</string>
                <key>sourceSize</key>
                <string>{157,155}</string>
            </dict>
            <key>share_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,445},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>title_nav.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{352,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,85}}</string>
                <key>sourceSize</key>
                <string>{352,85}</string>
            </dict>
            <key>topNav.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{345,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,76}}</string>
                <key>sourceSize</key>
                <string>{345,76}</string>
            </dict>
            <key>treat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{174,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,110}}</string>
                <key>sourceSize</key>
                <string>{174,110}</string>
            </dict>
            <key>zhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,521},{138,186}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{138,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigcom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72214056c5f513ff9fb35bdd7ef40e1c$</string>
            <key>textureFileName</key>
            <string>bigcom.png</string>
        </dict>
    </dict>
</plist>
