<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cicle.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,107},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>guidePoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>h.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,128},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>jbtx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,344},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>jbtx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,626},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>jbtx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,344},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>jbtx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>jbtx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>nz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,340}}</string>
                <key>sourceSize</key>
                <string>{450,340}</string>
            </dict>
            <key>nz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,340}}</string>
                <key>sourceSize</key>
                <string>{450,340}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,107},{19,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,83}}</string>
                <key>sourceSize</key>
                <string>{19,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c92b2b10b4b6db16cb7130276356cc4c$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
