<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{249,1113},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baojian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{383,131},{128,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{381,261},{128,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bitcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{249,1205},{90,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bzbn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,281},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,281},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daikuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,647},{128,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dczj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{387,1},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dqwc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,409},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{267,121},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,411},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dswl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,911},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fgzj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{265,251},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flcx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,391},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameId.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{96,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1113},{96,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garlic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{337,1205},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gdzl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,537},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{167,1188},{94,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gsgl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,381},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hyll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,511},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jzcc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,641},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ldyz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,769},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lxcy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,539},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mlsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,771},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nqyw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,519},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nscm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,885},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>overcoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{103,1025},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{341,1117},{86,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>perfume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{421,1205},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{85,1197},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qcdr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,793},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{249,1031},{94,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1197},{82,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,38}</string>
                <key>spriteSourceSize</key>
                <string>{131,38}</string>
                <key>textureRect</key>
                <string>{{1,121},{131,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_baojian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,38}</string>
                <key>spriteSourceSize</key>
                <string>{191,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_baoxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,38}</string>
                <key>spriteSourceSize</key>
                <string>{191,38}</string>
                <key>textureRect</key>
                <string>{{194,1},{191,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bitcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{83,38}</string>
                <key>spriteSourceSize</key>
                <string>{97,38}</string>
                <key>textureRect</key>
                <string>{{203,1025},{83,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_canyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{1,41},{190,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_daikuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,38}</string>
                <key>spriteSourceSize</key>
                <string>{190,38}</string>
                <key>textureRect</key>
                <string>{{193,41},{190,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_dswl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,38}</string>
                <key>spriteSourceSize</key>
                <string>{189,38}</string>
                <key>textureRect</key>
                <string>{{1,81},{189,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_gameId.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,38}</string>
                <key>spriteSourceSize</key>
                <string>{131,38}</string>
                <key>textureRect</key>
                <string>{{134,121},{131,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_garlic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,38}</string>
                <key>spriteSourceSize</key>
                <string>{69,38}</string>
                <key>textureRect</key>
                <string>{{99,1117},{69,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,38}</string>
                <key>spriteSourceSize</key>
                <string>{69,38}</string>
                <key>textureRect</key>
                <string>{{139,1117},{69,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_overcoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,38}</string>
                <key>spriteSourceSize</key>
                <string>{130,38}</string>
                <key>textureRect</key>
                <string>{{1,201},{130,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_paint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,39}</string>
                <key>spriteSourceSize</key>
                <string>{130,39}</string>
                <key>textureRect</key>
                <string>{{134,161},{130,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_perfume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,38}</string>
                <key>spriteSourceSize</key>
                <string>{130,38}</string>
                <key>textureRect</key>
                <string>{{133,202},{130,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{133,242},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_shose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,38}</string>
                <key>spriteSourceSize</key>
                <string>{130,38}</string>
                <key>textureRect</key>
                <string>{{1,241},{130,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_snacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,38}</string>
                <key>spriteSourceSize</key>
                <string>{131,38}</string>
                <key>textureRect</key>
                <string>{{1,161},{131,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_uav.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,38}</string>
                <key>spriteSourceSize</key>
                <string>{161,38}</string>
                <key>textureRect</key>
                <string>{{192,81},{161,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,901},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tpgs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,1001},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>uav.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1023},{100,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wlns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,795},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xsjy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,909},{114,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xtbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,665},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ygy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,667},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{506,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1c9275243b0c7e1992a7c2ed430736b:151c2817b58dbc487e51dc0ef3dfc92d:3df38d83d147e42c6ad7ca0e5a8e46ef$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
