<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bafumei.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,607},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>banhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,756},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>baoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,151},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>benchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,701},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>bieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,507},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>chaomo.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,546},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dage.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,455},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>duizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,604},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>falali.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,313},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>fengtian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>gongyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>guwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>hushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,455},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>kongjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,394},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lanbojini.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>laoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,303},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lianjiafang.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>lvshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,452},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>noman.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,303},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>nowoman.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,242},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qirui.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>shimei.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,151},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shixiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,300},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>siheyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>text_baifumei.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,50},{69,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,23}}</string>
                <key>sourceSize</key>
                <string>{69,23}</string>
            </dict>
            <key>text_banhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,895},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_chaomo.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,26},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>text_dage.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,50},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>text_duizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,895},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_hushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,895},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_kongjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>text_laoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_lvshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_shimei.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,217},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_shixiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,895},{93,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,22}}</string>
                <key>sourceSize</key>
                <string>{93,22}</string>
            </dict>
            <key>text_xiaocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,146},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>text_xiaoxianrou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>text_zongcai.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,121},{94,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,22}</string>
            </dict>
            <key>xiaocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,151},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>xiaoxianrou.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,151},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>yangfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>zongcai.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,151},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roles.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bf1750f9351340bd2fbdc456a937b12$</string>
            <key>textureFileName</key>
            <string>roles.png</string>
        </dict>
    </dict>
</plist>
