<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AdsSkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,721},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,292},{355,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,216}}</string>
                <key>sourceSize</key>
                <string>{355,216}</string>
            </dict>
            <key>achieve_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,460},{131,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,152}}</string>
                <key>sourceSize</key>
                <string>{131,152}</string>
            </dict>
            <key>baiwanfuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,510},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>box_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,614},{105,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{105,61}</string>
            </dict>
            <key>chengjiu_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,304},{150,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,154}}</string>
                <key>sourceSize</key>
                <string>{150,154}</string>
            </dict>
            <key>choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,519},{246,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,29}}</string>
                <key>sourceSize</key>
                <string>{246,29}</string>
            </dict>
            <key>choose_sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,460},{152,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,29}}</string>
                <key>sourceSize</key>
                <string>{152,29}</string>
            </dict>
            <key>chuangyeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,519},{340,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,170}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>circle_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,460},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,572},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,394},{89,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{89,29}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>eye11.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,505},{106,33}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{106,33}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,519},{93,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{93,49}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>eye22.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,545},{126,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,304},{205,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,61}}</string>
                <key>sourceSize</key>
                <string>{205,61}</string>
            </dict>
            <key>jiechu.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,861},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
            <key>lvli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{204,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,61}}</string>
                <key>sourceSize</key>
                <string>{204,61}</string>
            </dict>
            <key>lvli_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,860},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>man.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,813},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>manIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,386},{33,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,62}}</string>
                <key>sourceSize</key>
                <string>{33,62}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,541},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>qianwan_fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,860},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>rank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,304},{131,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>set_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,425},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,460},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{91,43}</string>
            </dict>
            <key>sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,346},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>sexBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{444,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,288}}</string>
                <key>sourceSize</key>
                <string>{444,288}</string>
            </dict>
            <key>skillPointIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,460},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{353,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,138}}</string>
                <key>sourceSize</key>
                <string>{353,138}</string>
            </dict>
            <key>start_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,505},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>tanchuangBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,614},{244,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{244,300}</string>
            </dict>
            <key>text_tianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,304},{205,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,61}}</string>
                <key>sourceSize</key>
                <string>{205,61}</string>
            </dict>
            <key>tianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,861},{131,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,155}}</string>
                <key>sourceSize</key>
                <string>{131,155}</string>
            </dict>
            <key>tianfu_state1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,874},{116,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>tianfu_state2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{116,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>tianfu_state3.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,292},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>tianfubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,510},{31,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,3}}</string>
                <key>sourceSize</key>
                <string>{31,3}</string>
            </dict>
            <key>tianfufg.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,510},{31,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,3}}</string>
                <key>sourceSize</key>
                <string>{31,3}</string>
            </dict>
            <key>topNav.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,300}}</string>
                <key>sourceSize</key>
                <string>{572,300}</string>
            </dict>
            <key>tuixiu_asset.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,989},{188,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,33}}</string>
                <key>sourceSize</key>
                <string>{188,33}</string>
            </dict>
            <key>woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,541},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>womanIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,386},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,304},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>yiwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,860},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>zongrenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,861},{157,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,33}}</string>
                <key>sourceSize</key>
                <string>{157,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63ddd30b806eb2b4db4c13f5015478d$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
